* {
    margin: o;
    padding: o;
    background-color: rgb(133, 161, 251);
    box-sizing: border-box;
    font-family: 'Delius Unicose', cursive;
    /*border: 1px solid black*/
}

header {
    border-bottom: 5px solid cornsilk;
    width: 100%;
    height: 55px;
}
h1 {
    font-family: 'Modak', cursive;
    color: white;
    text-shadow:3px 2px rgb(103, 118, 231),
   6px 4px rgb(32, 41, 103);
    text-align: left;
    display: inline;
}
nav {
    display: inline;
}
.menu-items {
    float: right;
}
.items {
    display: inline-block;
    margin: 0 5px;
    list-style: none;
}
.items a {
    text-decoration: none;
    color: white;
    padding: 10px;
    
}
.items a:hover {
    background-color: rgb(103, 118, 231);
    transition: 1s;
}
.table-header {
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
    color:white;
}
.topic-headers, h3 {
    letter-spacing: 10px;
    text-align: center;
    color: rgb(5, 10, 40);
}

table {
    border: 5px solid cornsilk;
    border-collapse: collapse;
    margin: 0 auto;
}
thead {
    background: cornsilk;
}
thead th {
    padding: 20px;
    color: rgb(32, 41, 103);
    font-size: 20px;
}
tbody {
    text-align: center;
}
th, td, tr, tfoot {
    border: 5px solid cornsilk;
    padding: 5px;
}
td ul {
list-style: none;
}
.footer {
    padding: 10px;
}

.positions {
    text-align: center;
}
.positions ul {
    list-style: none;
}
.positions ul li {
    padding: 10px 0;
    
}
.positions ul li a {
    color: rgb(32, 41, 103);
    transition: 5s;
}
.positions ul li a:hover {
    position: relative;
    bottom: 6px;
    left: 10px;
}
.types {
    margin: 20px 50px;
    border: 5px solid cornsilk;
    border-collapse:separate;
}
